
@import url('https://fonts.googleapis.com/css?family=Roboto:400,700&display=swap');

/* body*/
body {
    display: flex;
    flex-direction: column;
    
    height: 100vh;
    
    background-color: #f9f9f9;
}

/*Header*/

header p {
    font-size: 14px;
}

header button {
    margin-top: 16px;
    padding: 16px 32px;
    border-radius: 4px;
    border: none;
    
    background-color: #f42f49;
    color: #fff;
    
    font-weight: bold;
}

.logo {
    width: 120px;
    margin: 70px 0;
}
/*Section form*/

section.form {
    align-items: center;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 45px;
    
    background-color: #f42f49;
    
    padding: 16px 32px;
    
    border-radius: 6px;
}

.form h2 {
    text-align: right;
    color: #ffffffee;
    font-size: 18px;
}

form input,
form button {
    width: 100%;
    margin-bottom: 4px;
    padding: 8px 16px;
    border-radius: 4px;
    
    border: 2px #ffffff88 solid;
    outline: none;
}

form input{
    background-color: transparent;
    color: #ffffffaa;
}

form input::placeholder {
    color: #ffffffaa;
}

form button {
    font-weight: bold;
}

/*Main*/

main h2 span {
    color: #f42f49;
}

main .donors {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.blood {
    color: #f42f49;
    font-weight: bold;
    font-size: 12px;

    display: flex;
    align-items: center;
    justify-content: center;
    
    position: relative;
}

.blood::before {
    content: "";
    background-color: #f42f4911;

    width: 40px;
    height: 40px;
    position: absolute;

    /*turn a drop*/
    border-radius: 50%;
    border-top-right-radius: 0;
    transform: rotate(-45deg);
}

.donor p {
    margin-top: 24px;
    margin-bottom: 64px;
    font-size: 14px;
    font-weight: bold;
}

/*Footer*/

footer {
    margin-top: auto;
    padding: 16px;
    border-top: 1px solid #eee;
}

/*Agrupamentos*/

html, body {
    box-sizing: border-box;
    margin: auto;
    padding: 0;
    outline: 0;
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    max-width: 510px;
}

h1, h2{
    color: #000000cc;
}

header, main, footer {
    text-align: center;
}

header, .form, main {
    margin: 0 auto 70px auto;
    width: 90%;
    max-width: 500px;
    
}

header h1, main h2 {
    margin-bottom: 70px;
}

/* func classes */

section.form {
    transition: all 300ms;
}

section.form.hide {
    opacity: 0;
    visibility: hidden;
    height: 0;
    margin-bottom: -70px;
}